@import 'vars.scss';

.container {
  h1 {
    border-top: 1px solid $color-dark-gray;
    padding-top: spacing(1);
    text-align: center;
    margin-bottom: spacing(2);
  }
}
.carousel {
  padding: 0 spacing(0.5);
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > div {
      margin-bottom: spacing(2);
    }
    @media (min-width: $tablet) {
      padding: 0 spacing(8);
      justify-content: space-around;
      > div {
        margin-bottom: spacing(4);
      }
    }
  }
}

.loader {
  margin: spacing(4) 0 spacing(16) 0;
  @media (min-width: $tablet) {
    margin: none;
  }
}