@import 'vars.scss';

.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  overflow: hidden;

  .expandButtonDesktop {
    position: absolute;
    bottom: spacing(2);
    right: spacing(2);
    svg {
      width: 32px;
      height: 32px;
      color: white;
    }
  }

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel {
    position: absolute;

    display: grid;
    grid-template-columns: auto;
    grid-gap: spacing(1);
    justify-items: center;
    grid-template-rows: repeat(auto-fit, 32px);
    @media (min-width: $tablet) {
      grid-template-rows: repeat(auto-fit, 64px);
    }
    top: spacing(0.5);
    left: spacing(0.5);
    @media (min-width: $tablet) {
      top: spacing(1);
      left: spacing(1);
    }
    .paginateButton {
      svg {
        margin-top: spacing(1);
        width: 18px;
        height: 18px;
      }
    }
    .expandButton {
      svg {
        width: 32px;
        height: 32px;
        color: white;
      }
    }

    img {
      border-radius: $border-radius-medium;
      border: 1px solid $color-light-gray;
      width: 32px;
      height: 32px;
      @media (min-width: $tablet) {
        width: 64px;
        height: 64px;
      }
      object-fit: cover;
      &.active {
        border: 1px solid $color-primary;
      }
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
