@import 'vars.scss';


@keyframes slideTopFadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  75% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.container {
  position: relative;
  margin: spacing(2) 0;
  min-height: 10vh;
  h1 {
    border-top: 1px solid $color-dark-gray;
    padding-top: spacing(1);
    margin-bottom: spacing(2);
  }
  @media (min-width: $tablet) {
    min-height: 30vh;
  }
  article {
    animation-fill-mode: forwards;
    animation: slideTopFadeIn 0.3s ease-in;
  }
}

.wrapper {
  h1 {
    text-align: center;
  }
  @media (min-width: $tablet) {
    padding: 0 spacing(8);
  }
}

.carousel {
  // padding-left: spacing(0.5) !important;
}
