@import 'vars.scss';

.container {
  display: flex;
  flex-direction: column;
}

.detailContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  .details {
    width: 100%;

    margin: spacing(1) 0;
    @media (min-width: $tablet) {
      margin: spacing(1);
      max-width: 300px;
    }
    h5 {
      text-transform: uppercase;
      margin-bottom: spacing(1);
    }
    .list {
      display: grid;
      justify-content: space-between;
      grid-gap: spacing(1);
      grid-template-columns: repeat(auto-fill, 45vw);
      @media (min-width: $tablet) {
        grid-template-columns: repeat(auto-fill, 142px);
      }
      > div:nth-child(even) {
        align-items: flex-end;
      }
    }
  }
}

.detail {
  // width: 45%;
}
