@import 'vars.scss';

@keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translate(0, 100%, 0);
		transform: translate(0, 100%, 0);
	}
}

@keyframes appear {
	0% {
		transform: scale(0) translate(0, 100%);
		opacity: 0;
		visibility: visible;
	}
	80% {
		transform: scale(1.2) translate(0, 100%);
	}
	100% {
		transform: scale(1) translate(0, 100%);
		opacity: 1;
	}
}

.container {
	position: relative;
	.drawer {
		animation: appear .6s ease-in-out;
		animation-fill-mode: forwards;
		position: absolute;
		bottom: 0;
		left: -100%;
		min-height: 44px;
		transform: translate(0, -100%);
		padding: spacing(1) 0;
		min-width: 80px;
		background-color: $color-dark;
		border-radius: $border-radius-input;
		.option {
			display: flex;
			width: 100%;
			transition: all 0.3s ease;
			padding: spacing(0.5) 0;
			align-items: center;
			justify-content: center;
			&:hover {
				opacity: 1;
				background: $color-primary;
			}
		}
		.option:not(:last-child) {
			margin-bottom: spacing(2);
		}
	}
}

.check {
	min-width: 15px;
	transform: scale(1.5);
	margin-right: spacing(1);
	svg {
		path {
			fill: $color-white;
		}
	}
}
