@import 'vars.scss';

.container {
  display: flex;
  flex-direction: column;
  .user {
    display: grid;
    grid-template-columns: 34px 1fr;
    grid-gap: spacing(1);
    align-items: center;
    img {
      width: 44px;
      height: 44px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  a {
    // margin-left: spacing(1);
    color: $color-primary;
    font-size: $font-size-p;
    font-family: $font-family-secondary;
  }
  p {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-h6;
    color: $color-dark;
    margin-bottom: spacing(0.5);
  }
}

.link {
  color: $color-complimentary;
}
