@import 'vars.scss';

.container {
  display: flex;
  align-items: center;
  > span {
    white-space: nowrap;
  }
  a {
    margin: 0;
  }
  .title {
    display: flex;
    flex-direction: column;
    margin-left: spacing(1);
    width: 100%;
    h6 {
      text-transform: capitalize;
      margin-bottom: spacing(0.25);
      font-weight: $font-weight-medium;
    }
    span {
      font-weight: $font-weight-bold;
    }
  }
  .wrapText {
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
