@import 'vars.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: $border-radius-input;
  background: $color-dark-semi-transparent-heavy;
  animation: fadeIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.closeButton {
  z-index: 1;
  position: absolute;
  bottom: spacing(0.7);
  right: spacing(0.7);
  svg {
    font-size: $font-size-h4;
    color: $color-white;
  }
}
