@import 'vars.scss';

.container {
  background: $color-light-gray;
  min-height: 100vh;
  .layout {
    padding: 0 spacing(0.5);
    @media (min-width: $tablet) {
      padding: 0 0 spacing(8) 0;
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: spacing(2);
  }
}
