@import 'vars.scss';

.container {
  min-height: 100vh;
  h2 {
    margin-bottom: spacing(0.5);
  }
  padding-bottom: spacing(12);
}

.soldDisclaimerContainer {
  width: 100%;
  background: $color-red;
  border-radius: $border-radius-input;
  margin: spacing(2) 0;
  padding: spacing(1);
  text-align: center;
  span {
    color: $color-white;
  }
}

.layout {
  .subtitle {
    text-transform: uppercase;
    padding-top: spacing(1);
    margin-bottom: spacing(1);
  }
  padding: 0 spacing(0.5);
  @media (min-width: $tablet) {
    padding: 0 spacing(6) spacing(8) spacing(6);
  }
}

.images {
  height: 50vh;
  margin-bottom: spacing(1);
  @media (min-width: $tablet) {
    margin-bottom: spacing(5);
  }
  img {
    height: 50vh;
    object-fit: cover;
    @media (min-width: $tablet) {
      object-fit: contain;
    }
  }
}

.prices {
  display: flex;
  margin-bottom: spacing(2);
  span {
    text-decoration: none;
    font-size: $font-size-h5;
    line-height: $line-height-h5;
    color: $color-red;
    font-weight: $font-weight-medium;
    strong {
      font-weight: $font-weight-light;
      color: $color-darker-gray;
      text-decoration: line-through;
    }
  }
}

.description {
  margin-bottom: spacing(2);
  padding: spacing(2) 0;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  font-weight: $font-weight-light;
  white-space: pre;

  button {
    margin: spacing(2) 0;
    font-size: $font-size-p;
    line-height: $line-height-p;
    color: $color-primary;
    display: block;
  }
}

.spacer {
  margin-bottom: spacing(14);
}
