@import 'vars.scss';

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: spacing(2);
  margin-bottom: spacing(2);
}

.spacing {
  margin-bottom: spacing(2);
}

.checkbox {
  @extend .spacing;
  min-width: 50%;
}

.buttonReset {
  display: flex;
  margin-bottom: spacing(1);
  @media (min-width: $tablet) {
    justify-content: flex-end;
  }
}
