@import 'vars.scss';

.container {
  min-height: 100vh;
  h1 {
    margin: spacing(2) 0;
  }

  padding: spacing(4) spacing(0.5) spacing(20) spacing(0.5);
  @media (min-width: $tablet) {
    padding: spacing(8) spacing(2);
  }
}
