@import 'vars.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 584px;
  margin: spacing(8) 0;
  @media (min-width: $tablet) {
    padding: 0 spacing(8);
  }
  h1 {
    border-top: 1px solid $color-dark-gray;
    padding-top: spacing(1);
    text-align: center;
    margin-bottom: spacing(2);
  }
}

.vehicleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  .imageContainer {
    width: 20%;
    transition: $transition;
    border: 1px solid transparent;
    &.maximized {
      width: 80%;
    }
    @media (min-width: $tablet) {
      width: 50%;
      > div {
        border-top-left-radius: $border-radius-input;
        border-bottom-left-radius: $border-radius-input;
      }
    }
  }
  .detailsContainer {
    background-color: $color-white;
    padding: spacing(1);
    border-width: 1px;
    position: relative;
    border-style: solid;
    border-right-color: $color-gray;
    border-top-color: $color-gray;
    border-bottom-color: $color-gray;
    border-left-color: transparent;
    width: 20%;
    transition: $transition;
    box-shadow: $shadow-soft;
    display: flex;
    flex-direction: column;
    &.maximized {
      width: 80%;
    }
    @media (min-width: $tablet) {
      width: 50%;
      padding: spacing(1) spacing(2);
      border-top-right-radius: $border-radius-input;
      border-bottom-right-radius: $border-radius-input;
    }

    h3 {
      margin-bottom: spacing(1.5);
      max-width: 582px;
      svg {
        margin-left: spacing(0.5);
        color: $color-primary;
      }
    }
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(-25%);
  }
}

.swipeTutorial {
  position: absolute;
  top: 50%;
  left: 0;
}

.actions {
  margin: spacing(1) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: spacing(1);
  button:last-child {
    grid-column: 1/3;
  }
  a:last-child {
    grid-column: 1/3;
  }
}

.price {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  span {
    font-family: $font-family-secondary;
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    font-weight: $font-weight-medium;
    color: $color-red;
    text-decoration: none;
  }
  strong {
    font-weight: $font-weight-normal;
    color: $color-darker-gray;
    text-decoration: line-through;
  }
}

.vehicleDetails {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: spacing(1);
  border-bottom: $border-light-gray;
  padding-bottom: spacing(1);
  margin-bottom: spacing(2);
  h6 {
    font-size: $font-size-h6 !important;
    margin-bottom: spacing(1) !important;
    @media (max-width: $tablet) {
      font-size: $font-size-p !important;
    }
  }
  span {
    font-size: $font-size-span !important;
  }
  @media (max-width: $tablet) {
    max-height: 118px;
    overflow: auto;
  }
  span {
    font-size: $font-size-m !important;
  }
  > div:nth-child(even) {
    justify-self: flex-end;
    margin-left: auto;
    div {
      justify-content: flex-end;
    }
    h6 {
      text-align: right;
    }
  }
  &.vehicleDetailsFullHeight {
    @media (max-width: $tablet) {
      max-height: unset;
      overflow: visible;
    }
  }
}
