@import 'vars.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  overflow: hidden;
  margin: spacing(8) 0;
  @media (min-width: $tablet) {
    padding: 0 spacing(8);
  }
  h1 {
    border-top: 1px solid $color-dark-gray;
    padding-top: spacing(1);
    text-align: center;
    margin-bottom: spacing(2);
  }
}

.vehicleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  .imageContainer {
    width: 20%;
    height: 100%;
    transition: $transition;
    &.maximized {
      width: 80%;
    }
    @media (min-width: $tablet) {
      width: 50% !important;
      > div {
        border-top-left-radius: $border-radius-input;
        border-bottom-left-radius: $border-radius-input;
        border: 1px solid $color-gray;
      }
    }
  }
  .detailsContainer {
    background-color: $color-white;
    padding: spacing(1);
    border-width: 1px;
    border-style: solid;
    border-right-color: $color-gray;
    border-top-color: $color-gray;
    border-bottom-color: $color-gray;
    border-left-color: transparent;
    width: 20%;
    transition: $transition;
    &.maximized {
      width: 80%;
    }
    @media (min-width: $tablet) {
      width: 50% !important;
      padding: spacing(1) spacing(2);
      border-top-right-radius: $border-radius-input;
      border-bottom-right-radius: $border-radius-input;
    }
    .vehicleDetails {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-row-gap: spacing(1);
      border-bottom: $border-light-gray;
      padding-bottom: spacing(1);
      margin-bottom: spacing(1);
      > div:nth-child(even) {
        justify-self: flex-end;
        margin-left: auto;
      }
    }
    .title {
      h3 {
        margin-bottom: spacing(1.5);
        max-width: 582px;
        svg {
          margin-left: spacing(0.5);
          color: $color-primary;
        }
      }
    }
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(10%);
  }
}

.swipeTutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  svg {
    position: absolute;
    animation: slideInRight 2s ease-in-out infinite;
    animation-fill-mode: forwards;
    fill: $color-complimentary;
  }
}
