@import 'vars.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .divider {
    margin-top: spacing(6);
    padding: 0 spacing(0.5);
    .line {
      width: 100%;
      height: 2px;
      background: $color-light-gray;
      @media (min-width: $tablet) {
        min-width: 56px;
      }
    }
  }
}
