@import 'vars.scss';

.container {
  background: $color-light-gray;
  min-height: 100vh;
  padding-bottom: spacing(11);
  @media (min-width: $tablet) {
    padding-bottom: 0;
  }
  .layout {
    padding: 0 spacing(0.5);
    @media (min-width: $tablet) {
      padding: 0 0 spacing(8) 0;
    }
  }
}

.searchSection {
  position: relative;

  .searchForm {
    @media (min-width: $tablet) {
      position: absolute;
      left: spacing(4);
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
