@import 'vars.scss';

.offer {
  display: block;

  button {
    height: 34px;
    align-self: flex-end;
    margin-bottom: spacing(2);
  }
  input {
    min-width: none;
  }
  @media (min-width: $tablet) {
    display: grid;
    grid-gap: spacing(1);
    align-items: center;
    grid-template-columns: 1fr 2fr;
    input {
      min-width: 120px;
    }
  }
}
